@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  color-scheme: dark; 
}

.prose :where(h1,h2,h3){ 
  margin-block:.4rem .4rem; 
}
.prose :where(ul,ol){ 
  margin-block:.25rem .25rem; 
}
.prose :where(li){ 
  margin-block:.125rem .125rem; 
}
